
 body {
     margin: 0;
     background-color: white;
 }
#container {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
}
#canvas {
    position: absolute;
    z-index: 8;    /* position this canvas at bottom of the other one */
}

#overlay {
    position: absolute;
    top: 2em;
    left: 1em;
    z-index: 10;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 3em;
}

#line1{
    height: 3em;
 }
 #line2{
     height: 3em;
     background-color: rgba(30, 30, 30, 0.8);
 }
 #line3{
     height: 3em;
     background-color: rgba(30, 30, 30, 0.8);
 }
 #line4{
     height: 3em;
 }